#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local
manage_etc_hosts: true

users:
  - name: ${automation_user}
    lock_passwd: false
    gecos: Arch Cloud User
    groups: [wheel, users]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh-authorized-keys:
      - "${automation_user_pubkey}"

ssh_pwauth: false

chpasswd:
  expire: false
  list: |
    ${console_user}:${console_password}
  plain_text: true

package_update: true
pakage_upgrade: true
packages:
  - git
  - curl
  - qemu-guest-agent
  - avahi

power_state:
  mode: reboot
  message: System restart required
  timeout: 300
  condition: true

runcmd:
  - echo 'MulticastDNS=yes' >> /etc/systemd/resolved.conf
  - test -e /tmp/launch_script.sh && ash /tmp/launch_script.sh

write_files:
  - path: /etc/systemd/network/10-cloud-init-eth0.network.d/override.conf
    owner: root:root
    permissions: 0o644
    content: |-
      [Match]
      Name=eth*

      [Network]
      MulticastDNS=yes

%{ if length(launch_script) > 0 ~}
  - path: /tmp/launch_script.sh
    owner: root:root
    permissions: 0o744
    content: |-
      ${indent(6, launch_script)}

%{~ endif ~}
